<!DOCTYPE html>
<html>
  <head>
	  <title>index</title>
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <link rel="stylesheet" href="https://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
	  <link rel="stylesheet" href="./css/main.css"> 
	  <script src="./js/jquery.js"></script>
	  <script src="https://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	  <script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
	   <script src="http://apps.bdimg.com/libs/angular-route/1.3.13/angular-route.js"></script>
	   <script src="./js/module.js"></script>
	   <script src="./js/controller.js"></script>
  </head>
  <body>
   <div class="wrap" ng-app="myApp">
    <div class="header">
      <div class="navbar navbar-inverse navbar-swapper">
        <div class="navbar-inner">
          <div class="container">
            <a class="brand" href="#/">DemoForum</a>
			<ul class="nav nav-pills">
				<li class="active"><a href="#/">首页</a></li>
				<li><a href="##">新闻</a></li>
				<li class="dropdown">
				<a href="##" class="dropdown-toggle" data-toggle="dropdown">博客<span class="caret"></span></a>
				<ul class="dropdown-menu">
					<!--二级菜单-->
					<li><a href="##">前端博客</a></li>
					<li><a href="##">Java博客</a></li>
				</ul>
				</li>
				<li><a href="##">论坛</a></li>
				<!--禁用状态-->
				<li class="disabled"><a href="##">反馈</a></li>
			</ul>
            <ul class="menu nav nav-pills pull-right">
              <li><a href="#/login">login</a></li>
              <li><a  class="jump" type="button">register</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
	<div ng-controller="myCtrl" ng-view>
		<p ng-hide="visible">Name : <input type="text" ng-model="name"  id="name" placeholder="Please input your name"></p>
		<h1>Hello {{name}}<h1>
		<button type="button" class="btn" ng-click="toggle()">Hide Text</button>
		<!--弹出窗口-->
		<div class="modal fade" id="mymodal">
			<div class="modal-dialog container widget ">
				<div class="raw">
					<div class="col-sm-12" style="background-color:#fff">
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">&times;</span><span class="sr-only"></span>
						</button>
						<h4 class="modal-header">Register</h4>
					</div>
					<div class="raw">
						<form class="form-horizontal">
							<div class="control-group col-sm-12">
							  <div class="controls">
								<label class="control-label" for="inputEmail">Email</label>
								<input type="text" id="inputEmail" class="email" placeholder="Email">
							  </div>
							</div>
							<div class="control-group col-sm-12">
							  <div class="controls">
								<label class="control-label" for="inputPassword">Password</label>
								<input type="password" id="inputPassword" class="password" placeholder="Password">
							  </div>
							  </div>
							<div class="control-group col-sm-12">				  
							  <div class="controls">
								<label class="control-label" for="inputConfirmPassword">ConfirmPassword</label>
								<input type="password" id="inputConfirmPassword" placeholder="Confirm Password">
							  </div>
							</div>
							<div class="control-group col-sm-12" style="padding-top:15px">
							  <div class="controls">
								<button type="button" class="btn btn-success">Register</button>
							  </div>
							</div>
					  </form>
					</div>
					<div class="col-sm-12 modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">close</button>
						<button type="button" class="btn btn-primary">save</button>
					</div>
				</div>
			</div>
	   </div>
		<!--过渡效果-->
		<div id="myDIV" ng-hide="visible"></div>
	</div>
	<div id="myCarousel" class="carousel slide">
			<!-- 轮播（Carousel）指标 -->
			<ol class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
				<li data-target="#myCarousel" data-slide-to="2"></li>
			</ol>   
			<!-- 轮播（Carousel）项目 -->
			<div class="carousel-inner">
				<div class="item active">
					<img src="./img/slide1.png" alt="First slide">
					<div class="carousel-caption">Title 1</div>
				</div>
				<div class="item">
					<img src="./img/slide2.png" alt="Second slide">
				</div>
				<div class="item">
					<img src="./img/slide3.png" alt="Third slide">
				</div>
			</div>
			<!-- 轮播（Carousel）导航 -->
			<a class="carousel-control left" href="#myCarousel" 
			   data-slide="prev">&lsaquo;</a>
			<a class="carousel-control right" href="#myCarousel" 
			   data-slide="next">&rsaquo;</a>
	</div>
   </div>
  </body>
</html>